# Latex temp files or logs
*.aux
*.bcf
*.log
*.out
*.run.xml
*.dtx
*.dvi
*.bbl
*.blg
*.lot
*.toc
*.lof
*.ist
*.idx
*.glsdefs
*.glo
*.ilg
*.ind
*.gls
*.glg

# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
.pytest_cache/

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc

# Environment-related files
.env
venv/
env/
.env.*

#DB migrations
migrations/
