{%load static %}
<!DOCTYPE html>
<html class="background">
    <head>
        <title>RecetApp</title>

        <!--Custom style css for more spaces-->
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

        <!-- Latest compiled and minified JavaScript -->
        <script src="{% static 'js/bootstrap.js' %}"></script>

        <!-- Latest compiled JQuery-->
        <script src="{% static 'js/jquery-3.7.0.min.js'%}"></script>
    </head>
    <body class="">
        <nav class="navbar navbar-expand-lg navbar-light background-nav border-bottom border-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">RecetApp</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse in" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/guardadas/">Recetas guardadas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
                <form class="d-flex" action="/resultados/" method="POST">
                  {% csrf_token %}
                  <input class="form-control me-2 border border-dark" type="search" placeholder="Nombre de la receta" aria-label="Search" name="search-recetas">
                  <button class="btn btn-success" type="submit">Buscar</button>
                  <input type="hidden" name="metodo" value="recetas">
                </form>
              </div>
            </div>
          </nav>
        <main class="background">
            <div class="container-fluid pt-3">
                <div class="row justify-content-center">
                  <div class="col-lg-9 col-md-9 container-fluid">
                    {% block content %}
                    {% endblock %}
                  </div>
                  <div class="col-lg-3 col-md-9 mt-5 pe-lg-3 d-flex flex-column overflow-auto">
                    {% if top %}
                      <h3 class="w-100 text-center">Algunas recetas</h3>
                      {% for item in top %}
                        <div class="card border rounded w-100" style="width: 18rem;">
                          <a class="link-unstyled" href="#">
                            <div class="card-body border border-dark background-card">
                              <h5 class="card-title">{{item.name}}</h5>
                              <a href="/receta/{{item.id}}" class="btn button-bg border border-dark">Ver receta</a>
                            </div>
                          </a>
                        </div>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </div>
        </main>
    </body>
    <script src="{% static 'js/buscador-ingredientes.js' %}"></script>
</html>